* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    outline: none;
}
body{
    background: #5f7586;
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
}
/* html, body {
    min-height: 100%;
} */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
    /* color: #fff; */
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* index page */

.banner{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.banner >h1{
    text-transform: uppercase;
    color: #fffdd1;
    text-shadow: 3px 5px 4px #000;
    font-size: 60px;
    margin-bottom: 50px;
}
.faded-div{
    width: 90%;
    height: 60%;
    background-color: #000;
    /* opacity: 0.7; */
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.faded-div a {
    background-color: #fff;
    color: #000;
    padding: 2rem 4rem;
    font-size: 26px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 3px 2px #000;
    transition: 0.2s;
}
.faded-div a:hover {
    box-shadow: 7px 7px 5px #000;
}

.faded-div a>img{
    vertical-align: middle;
    transition: 0.2s;
}
.login-btn-wrapper {
    height: 120px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.login-btn-wrapper:hover{
    margin-top: -5px;
}
@media only screen and (max-width: 600px) {
    .banner > h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .faded-div{
        width: 90%;
    }
} 
@media only screen and (max-width: 480px) {
    .faded-div  a{
        font-size: 16px;
        padding: 1rem 2rem;
    }
}

/* layout */
.container {
    display: flex;
    flex-direction: row;
    background-image: url(/images/pic2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
}
  
.navbar {
    background: rgba(53,64,82,0.95);
    /* min-width: 200px; */
}
.content {
    background: #fff;
    flex: auto;  
    margin-left: 0;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.1);
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    /* background-color: #111; */
    transition: 0.5s;
    overflow: hidden;
}  
  
.closebtn {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    /* margin-left: 50px; */
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    z-index: 10;
    background: #374254;
    padding: 5px 10px;
}
.closebtn:hover{
      color: #ccc;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* nav > *{
    display: none;
} */
nav > div{
    border-bottom: 3px solid #212e44;
    border-top: 1px solid #404856;
}
nav > div:last-child{
    border-bottom: 0;
}
nav > div:first-child{
    border-top: 0;
}
.logo {
    text-align: center;
}
.logo img {
    border-radius: 50%;
    /* padding-top: 30px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
}
.logo a {
    display: block;
    padding: 0px 0;
    color: #ccc;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}
.logo>a:hover{
    color: #fff;
}

nav h4 {
    text-transform: capitalize;
    color: #5f7586;
    font-size: 12px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 10px;
}
.nav-list >li{
    padding: 10px;
    border-bottom: 3px solid #212e44;
    border-top: 1px solid #404856;
    text-transform: capitalize;

}
.dropdown-btn {
    color: #b3b3b3;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    padding: 10px;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 800;
}
.dropdown-container > ul > li > a {
    width: 100%;
    display: block;
    color: #ccc;
    padding: 10px;
    transition: 0.5s;    
    font-size: 12px;
}
.dropdown-container > ul > li > a:hover {
    color: #fff;
    background-color: #8d8d8d;
}
.active {
    background-color: #b0b0b0;
    color: #393939;
    transition: 0.5s;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    transition: 0.5s;
}

.links {
    text-transform: uppercase;
    color: #9ca6b7;
    font-weight: 800;
    font-size: 12px;
}
.links i {
    padding: 0 10px;
    font-size: 18px;
}
.logo i{
    padding: 2px;
}
.main{
    /* margin-left: 40px; */
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
    /* height: 100vh; */
}
.list-below {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
    /* padding: 10px 20px; */
    cursor: pointer;
    transition: 0.5s;
}
.list-below a {
    color: #374254;
    font-weight: 800;
    padding: 10px 20px;
    display: block;
}
/* .list-below a:hover{
} */
.list-below:hover {
    background-color: #3d838a;
}
.list-below:hover a{
    color: #fff;
}

/* Admin */
/*account management*/
main > h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 50px;
    color: #fff;
    text-shadow: 2px 5px 10px #000;
}

.main-content-wrapper {
    /* background: #ccc; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.main-content-wrapper h2 {
    text-transform: capitalize;
    margin: 0;
    padding: 50px;
    color: #333D60;
    text-shadow: 2px 4px 2px #d7d7d7;
    padding-bottom: 20px;
}
.main-content-wrapper form {
    padding: 0 50px;
}
.main-content-wrapper > div {
    background: #f8f8f8;
    min-width: 550px;
    border: 20px solid #3d838a;
    /* padding-bottom: 50px; */
    box-shadow: 0 0 40px #000;
    /* min-height: 300px; */
    /* padding-bottom: 50px; */
}
.main-content-wrapper > div > div {
    width: 100%;
    padding-bottom: 50px;
}
.top {
    border-bottom: 2px solid #ccc;
}
.bottom {
    border-top: 1px solid #a7a7a7;
}
.add-guest input {
    border: 1px solid #c8c8c8;
    background: #dddee0;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    color: #000;
    margin: 10px 0;
}
.btn {
    margin: 10px 0;
    padding: 10px 30px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #ccc;
    color: #7d7d7d;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background: #3d838a;
    color: #fff;
}
.select {
    margin: 10px 0;
}
.select > select {

    border: 1px solid #ccc;
    font-size: 12px;
    background: #dadada;
    width: 100%;
    padding: 5px;

}
.select > label {
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    color: #696969;
}
.datalist > label {
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    color: #696969;
}
.datalist > input {
    border: 1px solid #ccc;
    font-size: 12px;
    background: #dadada;
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
    .main-content-wrapper > div {
        min-width: 100%;
        /* padding-bottom: 30px; */
        /* min-height: 300px; */
    }
    .main-content-wrapper {
        width: 100%;
        padding: 20px;
    }
    .main-content-wrapper h2{
        padding: 20px;
    }
    .main-content-wrapper form{
        padding: 0 20px;
    }
    .btn{
        width: 100%;
    }
    .main>h1{
        font-size: 30px;
        padding: 30px;
        padding-bottom: 0;
        line-height: 1.5;
        padding-top: 50px;
    }
}
/* meal details */
.date > label {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    color: #696969;
}
.date > input {
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    background: #dadada;
    margin: 10px 0;
}
.visible > div {
    padding: 10px;
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    color: #727171;
    background: #dadada;
}
.visible h2{
    padding-top: 30px;
}

/* guest bill */
.nav-list > li > a {
    color: #ccc;
    font-weight: 800;
    font-size: 12px;
    width: 100%;
    display: block;
    padding: 10px;
    transition: 0.5s;
}
.nav-list > li > a:hover {
    background: #212e44;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .visible > div{
        margin: 10px 20px;
    }
}
/* guest home */
.calendar-wrapper {
    padding: 0 30px;
}
.btn-wrapper {
    text-align: center;
}
.vanilla-calendar {
    width: 100%;
}
.shift-radio {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 15px 0;
}
.shift-radio > label {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    color: #696969;
    width: 50px;
}
.shift-radio > div {
    display: inline-block;
    max-width: 120px;
    font-size: 12px;
    vertical-align: middle;
    color: #696969;
    padding: 0 20px;
    text-transform: capitalize;
}
.shift-radio input {
    vertical-align: text-top;
    margin-right: 5px;
}
@media only screen and (max-width: 480px) {
    .calendar-wrapper{
        padding: 0 20px;
    }
    .shift-radio > *{
        margin: 5px 0;
    }
    .shift-radio > div{
        padding: 0;
    }
    .shift-radio input {
        margin-right: 10px;
    }
    .shift-radio{
        flex-direction: column;
    }
}
