<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- stylesheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalise.css">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/css/main.css">   
    <style>

    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar sidenav" id="mySidenav">
            <div class="logo hidden">
                <img id="user-image" src="https://via.placeholder.com/80">
                <!-- <a href="#">User Name</a> -->
                <a href="#" id="user-name">User Name</a>
            </div>
            <div class="hidden">
                <ul class="nav-list">
                    <li>
                        <a href="/adminHome">meal details</a>
                    </li>
                    <li>
                        <a href="/adminAddGuest">add guest</a>
                    </li>
                    <li>
                        <a href="/adminRemoveGuest">remove guest</a>
                    </li>
                    <li>
                        <a href="/adminBill">billing</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" id="content">
            <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="openNav()">&#9776;</a>
            <main class="main">
                <h1>meal details</h1>            
                <div class="main-content-wrapper">
                    <div class="border-div">
                    <div class="top">
                        <h2>meals</h2>
                        <form class="" action="#" method="POST">
                            <div class="shift-radio">
                                <label>shift:</label><br>
                                <div><input type="radio" name="shift" value="Breakfast" checked> Breakfast</div>
                                <div><input type="radio" name="shift" value="Lunch"> Lunch</div>
                                <div><input type="radio" name="shift" value="Dinner"> Dinner</div>
                            </div>
                            <div class="date">
                                <label>date:</label>
                                <input id="date" type="date">
                            </div>
                            <button onclick="getMealsReq()" type="submit" id="submit-btn-1" class="onhover-bg-color btn">get details</button>
                        </form>
                    </div>
                    <div class="bottom visible">
                        <h2>meals required</h2>
                        <div>
                            <span style="text-align: left">veg</span>
                            <span id="veg">0</span>
                        </div>
                        <div>
                            <span style="text-align: left">non veg</span>
                            <span id="nonveg">0</span>
                        </div>
                        <form class="" action="#" method="POST">                        
                            <button onclick="updateMealCosts()" type="submit" id="submit-btn-2" class="onhover-bg-color btn btn-create">done</button>
                        </form>
                    </div>
                </div>
                </div>
            </main>
            <div class="list-below">
                <ul>
                    <li>
                        <a href="/auth/logout">Logout</a>
                    </li>
                </ul>
                <!-- <p>Developed by Srishti Jaiswal</p> -->
            </div>
       </div>
    </div>
    <script src="/script/main.js"></script>
    <script>
        document.getElementById("submit-btn-1").addEventListener("click", function(event){
            event.preventDefault()
        });
        document.getElementById("submit-btn-2").addEventListener("click", function(event){
            event.preventDefault()
        });
        var shiftList = document.getElementsByName('shift'); 
        var date = document.getElementById('date'); 
        let currentDate=formatDateToServer(new Date());
        date.value=currentDate;
        var veg = document.getElementById('veg'); 
        var nonveg = document.getElementById('nonveg');
        var doneBtn = document.getElementById('submit-btn-2'); 
        let data;
        function formatDateToServer(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
        function getMealsReq(){
            let shiftInput;
            for(i = 0; i < shiftList.length; i++) { 
                if(shiftList[i].checked){
                    shiftInput=shiftList[i].value;
                }
            }
            let dateInput;
            if(date.value){
                dateInput=date.value;
            }
            else{
                alert("Select a date!");
                return;
            }
            data={
                date: dateInput,
                shiftInput: shiftInput
            }
            sendRequest('POST', '/profile/fetchMealsRequired', (res) => {
                // console.log(res);
                visible.style.display='block';
                if(res.mealReqFound){
                    veg.innerHTML=res.veg;
                    nonveg.innerHTML=res.nonveg;
                    let today=formatDateToServer(new Date());
                    // console.log(today, dateInput);
                    if(dateInput > today){
                        doneBtn.disabled=true;                        
                    }
                    else{
                        if(res.costCalFound ){
                            doneBtn.disabled=true;
                            // alert("cost already updated!");
                        }
                        else{
                            doneBtn.disabled=false;
                        }
                    }
                }
                else{
                    //no meal req found on that date
                    veg.innerHTML=0;
                    nonveg.innerHTML=0;
                    doneBtn.disabled=true;
                }                
            }, data); 
        }
        function updateMealCosts(){
            sendRequest('POST', '/profile/updateMealCost', (res) => {
                // console.log("done: ",res);
                if(res.mealReqFound){
                    if(!res.costUpdated){
                        alert("Cost of each guest, requested for meal is updated!");
                    }
                    else{
                        alert("Cost of guests already updated for this shift!");
                    }
                }
                else{
                    //no meal req found on that date
                    alert("No meal request found for the selected date!");
                }             
                window.location.reload();   
            }, data);
        }
    
    </script>
</body>
</html>