<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- stylesheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalise.css">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar sidenav" id="mySidenav">
            <div class="logo hidden">
                <img src="https://via.placeholder.com/80">
                <a href="#">User Name</a>
            </div>
            <div class="hidden">
                <ul class="nav-list">
                    <li>
                        <a href="/adminHome">meal details</a>
                    </li>
                    <li>
                        <a href="/adminDetails">user management</a>
                    </li>
                    <li>
                        <a href="/adminBill">billing</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" id="content">
            <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="openNav()">&#9776;</a>
            
            <main class="main">
                <h1>billing</h1>            
                <div class="main-content-wrapper">
                    <div class="bill-form top">
                        <h2>view bill</h2>
                        <form class="" action="#" method="POST">
                            <div class="select">
                                <label>email id:</label><select>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi" selected>Audi</option>
                                </select>
                            </div>   
                            <div class="date">
                                <label>from:</label>
                                <input type="date">
                            </div>
                            <div class="date">
                                <label>to:</label>
                                <input type="date">
                            </div>                         
                            <button class="onhover-bg-color btn btn-create">view</button>
                        </form>
                    </div>
                    <div class="visible bottom">
                        <h2>bill</h2>
                        <div>
                            <span>name</span>
                            <span>puja</span>
                        </div>
                        <div>
                            <span>veg</span>
                            <span>5</span>
                        </div>
                        <div>
                            <span>non veg</span>
                            <span>4</span>
                        </div>
                        <div>
                            <span>total</span>
                            <span>9</span>
                        </div>
                        <!-- <form class="" action="#" method="POST">                        
                            <button class="onhover-bg-color btn btn-create">ok</button>
                        </form> -->
                    </div>
                </div>
            </main>
            <div class="list-below">
                <ul>
                    <li>
                        <a href="/index">Logout</a>
                    </li>
                </ul>
                <!-- <p>Developed by Srishti Jaiswal</p> -->
            </div>
       </div>
    </div>
    <script src="/script/main.js"></script>
</body>
</html>