<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- stylesheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalise.css">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/css/main.css">   
    <style>

    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar sidenav" id="mySidenav">
            <div class="logo hidden">
                <img id="user-image" src="https://via.placeholder.com/80">
                <a href="#" id="user-name">User Name</a>
            </div>
            <div class="hidden">
                <ul class="nav-list">
                    <li>
                        <a href="/adminHome">meal details</a>
                    </li>
                    <li>
                        <a href="/adminAddGuest">add guest</a>
                    </li>
                    <li>
                        <a href="/adminRemoveGuest">remove guest</a>
                    </li>
                    <li>
                        <a href="/adminBill">billing</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" id="content">
            <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="openNav()">&#9776;</a>
            <main class="main">
                <h1>user management</h1>            
                <div class="main-content-wrapper">
                    <div class="border-div">
                    <div class="add-guest top">
                        <h2>add guest</h2>
                        <form id="add-guest" action="#" method="POST">
                            <input type="text" id="userEmail" value="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required name="email" placeholder="Enter Email.."><br>
                            <button type="submit" id="submit-btn" onclick=" sendEmail()" class="onhover-bg-color btn">add</button>
                        </form>
                    </div>
                </div>
                </div>
            </main>
            <div class="list-below">
                <ul>
                    <li>
                        <a href="/auth/logout">Logout</a>
                    </li>
                </ul>
                <!-- <p>Developed by Srishti Jaiswal</p> -->
            </div>
       </div>
    </div>
    <script src="/script/main.js"></script>
    <script>
        
        document.getElementById("submit-btn").addEventListener("click", function(event){
            event.preventDefault()
        });

        function sendEmail(){
            // e.preventDefault();
            let email=document.getElementById("userEmail").value;
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
            {
                // return (true)
                sendRequest('POST', '/profile/addguest', (res) => {
                    // console.log(res);
                    if(res.exists){
                        alert(res.user.useremail+" already exists, please enter new email!");
                    }
                    else{
                        alert(res.user.useremail+" added successfully!");
                    }
                },{"guestEmail":email});
            }
            else{
                alert("Please enter a valid email address!");
            }
            window.location.reload();
        }
    </script>
</body>
</html>