<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- stylesheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalise.css">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/src/css/vanilla-calendar-min.css">
    <script src="/src/js/vanilla-calendar-min.js"></script>
    <link rel="stylesheet" href="/css/main.css">   
    <style>

    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar sidenav" id="mySidenav">
            <div class="logo hidden">
                <img id="user-image" src="https://via.placeholder.com/80">
                <!-- <a href="#">User Name</a> -->
                <a href="#" id="user-name">User Name</a>
            </div>
            <div class="hidden">
                <ul class="nav-list">
                    <li>
                        <a href="/guestHome">home</a>
                    </li>
                    <li>
                        <a href="/guestBill">view bill</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" id="content">
            <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="openNav()">&#9776;</a>
            <main class="main">
                <h1>meal management</h1>            
                <div class="main-content-wrapper">
                    <div class="border-div">
                    <div class="meal-calendar top">
                        <h2>request meals</h2>
                        <div class="calendar-wrapper">
                            <div id="mealCalendar" class="vanilla-calendar"></div>
                        </div>
                        <!-- <form class="" action="#" method="POST">
                            <div class="btn-wrapper">                           
                                <button class="onhover-bg-color btn ">view</button>
                            </div>
                        </form> -->
                        <!-- <form class="" action="#" method="POST">   
                            <div class="date">
                                <label>from:</label>
                                <input type="date">
                            </div>
                            <div class="date">
                                <label>to:</label>
                                <input type="date">
                            </div>                         
                            <button class="onhover-bg-color btn btn-create">view</button>
                        </form> -->
                    </div>
                    <div class="visible bottom">
                        <h2>meal selected</h2>
                        <form class="" action="#" method="POST">
                            <div class="shift-radio">
                                <label>breakfast:</label>
                                <div><input type="radio" name="BmealType" value="0"> None</div>
                                <div><input type="radio" name="BmealType" value="1"> Veg</div>
                                <div><input type="radio" name="BmealType" value="2"> Non Veg</div>
                            </div>
                            <div class="shift-radio">
                                <label>lunch:</label>
                                <div><input type="radio" name="LmealType" value="0"> None</div>
                                <div><input type="radio" name="LmealType" value="1"> Veg</div>
                                <div><input type="radio" name="LmealType" value="2"> Non Veg</div>
                            </div>
                            <div class="shift-radio">
                                <label>dinner:</label>
                                <div><input type="radio" name="DmealType" value="0"> None</div>
                                <div><input type="radio" name="DmealType" value="1"> Veg</div>
                                <div><input type="radio" name="DmealType" value="2"> Non Veg</div>
                            </div>
                            <!-- <div class="select">
                                <label>lunch:</label><select>
                                    <option value="volvo">Veg</option>
                                    <option value="saab">Non Veg</option>
                                    <option value="mercedes">None</option>
                                </select>
                            </div>  -->
                            <button onclick="updateMeals()" type="submit" id="submit-btn" class="onhover-bg-color btn btn-create">update</button>
                        </form>
                        <!-- <div>
                            <span>breakfast</span>
                            <span>veg</span>
                        </div>
                        <div>
                            <span>lunch</span>
                            <span>non veg</span>
                        </div>
                        <div>
                            <span>dinner</span>
                            <span>non veg</span>
                        </div> -->
                        <!-- <form class="" action="#" method="POST">                        
                            <button class="onhover-bg-color btn btn-create">ok</button>
                        </form> -->
                    </div>
                    </div>
                </div>
            </main>
            <div class="list-below">
                <ul>
                    <li>
                        <a href="/auth/logout">Logout</a>
                    </li>
                </ul>
                <!-- <p>Developed by Srishti Jaiswal</p> -->
            </div>
       </div>
    </div>
    <script src="/script/main.js"></script>
    <script>
        // let obj={};
        let calendar = new VanillaCalendar({
            selector: "#mealCalendar",
            pastDates: false,
            // onSelect: (data, elem) => {
            //     console.log(data,elem)
            // }
        })
        // calendar.set({pastDates: false});
        var eleB = document.getElementsByName('BmealType'); 
        var eleL = document.getElementsByName('LmealType'); 
        var eleD = document.getElementsByName('DmealType'); 
        var date;
        calendar.set({onSelect:(data, elem) => {

            // let d= new Date(data.date);
            // date=d.getTime();
            // var d = new Date(m);

            // var n = d.getTime();
            date=formatDateToServer(data.date);
            data.date=date;

            // console.log(data,elem);
            sendRequest('POST', '/profile/fetchMealDetails', (res) => {
                // console.log(res);
                if(res.userReqMeal){
                    for(i = 0; i < eleB.length; i++) { 
                        if(eleB[i].value===res.shift[0]){
                            console.log("check: ", eleB[i].value);
                            eleB[i].checked=true;
                        }
                    }
                    for(i = 0; i < eleL.length; i++) { 
                        if(eleL[i].value===res.shift[1]){
                            console.log("check: ", eleL[i].value);
                            eleL[i].checked=true;
                        }
                    }
                    for(i = 0; i < eleD.length; i++) { 
                        if(eleD[i].value===res.shift[2]){
                            console.log("check: ", eleD[i].value);
                            eleD[i].checked=true;
                        }
                    }
                }
                else{
                    //user didn't req meal on that date
                    for(i = 0; i < eleB.length; i++) { 
                        if(eleB[i].checked){
                            eleB[i].checked=false;
                        }
                    }
                    for(i = 0; i < eleL.length; i++) { 
                        if(eleL[i].checked){
                            eleL[i].checked=false;
                        }
                    }
                    for(i = 0; i < eleD.length; i++) { 
                        if(eleD[i].checked){
                            eleD[i].checked=false;
                        }
                    }
                }                
            }, data);  

        }});
        document.getElementById("submit-btn").addEventListener("click", function(event){
            event.preventDefault()
        });
        function formatDateToClient(input) {
            var datePart = input.match(/\d+/g),
            year = datePart[0].substring(2), // get only two digits
            month = datePart[1], day = datePart[2];

            return day+'/'+month+'/'+year;
        }

        function formatDateToServer(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
        function updateMeals(){
            // console.log("date: ",date);
            let shift=[];
            for(i = 0; i < eleB.length; i++) { 
                if(eleB[i].checked) 
                    shift.push(eleB[i].value); 
            }
            for(i = 0; i < eleL.length; i++) { 
                if(eleL[i].checked) 
                    shift.push(eleL[i].value); 
            }
            for(i = 0; i < eleD.length; i++) { 
                if(eleD[i].checked) 
                    shift.push(eleD[i].value); 
            }
            // console.log(shift);  
            let data={
                "date": date,
                "shift": shift
            };
            sendRequest('POST', '/profile/setMealDetails', (res) => {
                // console.log(res.sameDateFound);
                if(res.sameDateFound){
                    alert("Meal Request Updated!");
                }
                else{
                    alert("Meal Request Added!");
                }
                window.location.reload();
            }, data);
        }
    </script>
</body>
</html>